<li data-ng-repeat="page in pagesList">
  <a data-ng-show="{{page.contentType=='LINK'}}" title="{{page.name}}" href="{{page.link}}" target="_blank" >
    <i class="fa fa-fw hidden-sm"></i>
    <span>{{page.name}}</span>
  </a>
  <a data-ng-show="{{page.contentType!='LINK'}}" data-gn-active-tb-item="{{gnCfg.mods.page.appUrl + '/' + page.name}}?page={{page.name}}" title="{{page.name}}" data-ng-click="changePage($event)">
    <i class="fa fa-fw hidden-sm"></i>
    <span>{{page.name}}</span>
  </a>
</li>